{% extends "base.html.twig" %}

{% block body %}
	<h1>{{ category.name }}</h1>

	{% if category.posts %}
		<ul>
			{% for post in category.posts %}
                <li>{{ post.title }}</li>
            {% endfor %}
		</ul>
	{% else %}
		<h2>Aucun article rattaché à la catégorie</h2>
	{% endif %}
{% endblock %}
